asn1crypto
beautifulsoup4
cffi
hawkauthlib
idna
mohawk
Naked
packaging
PyBrowserID
pycparser
pycrypto
pyparsing
python-dateutil
PyYAML
requests
requests-hawk
setuptools
setuptools_scm
shellescape
six
WebOb
wheel
